@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: rgba(54, 63, 63, 0.082);
}
h1{
    position: relative;
    left: 4rem;
    top: 8rem;
    text-transform: uppercase;
    text-align: left;
    font-variant: small-caps;
}
img{
    width: 15rem;
}
.one img{
    height: 25rem;
    width: 40rem;
}
.two img{
    height: 25vh;
    position: relative;
    left: 20rem;
    bottom: 15rem;
    background-size:contain;
}
#box{
    p{
        position: relative;
        bottom: 150px;
        border: 2px solid black;
        text-align: center;
        //background-color: transparent;
        height: 200px;
        //background: linear-gradient(to leftb  ,rgb(238, 5, 5),rgb(250, 250, 2),black,blue,white,crimson);
        background: repeating-linear-gradient(to right,red,rgb(243, 243, 3) 10%,green 20%);
    }
}
#box1{
    p{
        position: relative;
        left: 0px;
        bottom: 120px;
        height: 100px;
        border: 2px solid rgb(0, 0, 0);
        text-align: center;
        //background: radial-gradient(farthest-side at 50% 50%, red 50%,rgb(18, 117, 18) 75%);
        background: repeating-radial-gradient(rgb(170, 100, 250) ,rgba(0, 0, 0, 0) 9%,rgb(128, 0, 0) 15%);
    }
}
#box2{
    position: relative;
    left: 0px;
    bottom: 100px;
    height: 100px;
    border: 2px solid black;
    background: burlywood;
    box-shadow: 7px 7px 12px black inset;//12px 12px 10px red;
    text-shadow: 5px 5px red;
}
#ramp{
    p{
       width: 100px;
       border: 2px solid black; 
       height: 100px;
       position: relative;
       left: 0px;
       bottom: 70px;
       white-space: nowrap;
       overflow: hidden;
       text-overflow: ellipsis;
       &:hover{
           overflow: visible;
       }
    }
}
#box4{
    p{
        font-family: 'Oswald', sans-serif;
        width: 300px;
        height: 200px;
        border: 2px solid black;
        border-radius: 50%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        background-color: rgb(170, 100, 250);opacity: 0.8;
    }
}
#box5{
    margin: 20px;
    width: 100px;
    height: 100px;
    background-color: red;
    //transform: translate(50px,100px);
    //transform: rotate(120deg);
    transition: 4s;
    //transform: skew(14deg,12deg);
    //transform: rotateX(360deg);
    //transform: rotateZ( 0deg);
    /*&:hover{
        transform: skew(180deg,180deg);
    }*/
    //transform: ;
}
#box6{
    width: 200px;
    height: 200px;
    background-color: red;
    border: 2px solid black;
    transform: translate(30px);
    p{
        width: 200px;
        height: 200px;
        background-color: blue; 
        transform-origin: left bottom;
        transform: perspective(800px) rotateX(5deg);

    }
}
#box7{
    margin-top: 20px;
    background-color: red;
    width: 200px;
    height: 200px;
    //transition-duration: 2s;
    //transition-timing-function: ease-in-out;
    transition: width 2s,width 2s,transform 2s;
    &:hover{
        width: 300px;
        height: 300px;
        color: white;
        transform: rotate(360deg);
    }
    p{
        background: red;
    }
}
#box8{
    margin-top: 30px;
    background-color: rgb(170, 100, 250);
    width: 200px;
    height: 200px;
    animation-name: coding;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-direction: reverse;
}
.res{
    margin-top: 30px;
    height: 300px;
    width: 200px;
    img{
        -webkit-box-reflect: below 20px linear-gradient(to bottom,rgba(0,0,0,0),rgba(0,0,0,0.9));
        
    }
}
.two{
    img{
        width: 300px;
        height: 300px;
        //object-fit: contain;
        object-fit: cover;
        //object-fit: none;
        object-position: 5%;
    }
}
.boxes{
    padding: 20px;
    a{
        padding: 20px;
        font-size: 20px;
        text-decoration: none;
        color: red;
        &:hover{
            background-color: rgb(243, 243, 3);
            border: 2px solid black;
            border-radius: 3px;
        }
    }
}
.abc{
    column-count: 3;
    column-gap: 10px;
    //column-rule-style: solid;
    //column-rule-width: 5px;
    //column-rule-color: blue;
    column-rule: 2px solid red;
    //column-span: all;
    //column-width: 100px;
}
.xyz{
    margin-top: 20px;
    background: red;
    color: white;
    overflow: scroll;
    resize: both;
    position: relative;
    bottom: 300px;
    outline-offset: 15px;

}
.deb{
    background: blue;
    font-size: 30px;
    font-variant: small-caps;
}
main{
    background-color: brown;
    height: 250px;
    #content{
        display: flex;
        //justify-content: space-around;
        //align-items: center;
        flex-direction: row-reverse;
        justify-content: space-around;
        //flex-wrap: wrap-reverse;
        .res1{
            margin-top: 22px;
            background-color:rgb(35, 122, 23);
            padding: 20px;
            width: 80px;
            text-align: center;
        }
    }
}

@keyframes coding {
    from{
        width: 200px;
    }
    to{
        width: 800px;
    }
    
}
@media screen and (min-width:200px) and (max-width:500px) {
    .deb{
        background: brown;
    }
    
}
